{"swagger":"2.0","info":{"version":"objects-v1","title":"Objects v1 API"},"host":"prod.impartner.live","schemes":["https"],"consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"paths":{"/api/objects/v1/_describe":{"get":{"tags":["Entity Admin API"],"summary":"Lists the available objects and their metadata for your organization’s data.","operationId":"Entity_DescribeAll","consumes":[],"parameters":[{"name":"context","in":"query","required":false,"type":"string","enum":["All","Sync","Extended"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[ExtendedEntityDef]]"}}}}},"/api/objects/v1/_describe/extendedProperties":{"get":{"tags":["Entity Admin API"],"operationId":"Entity_DescribeExtendedProperties","consumes":[],"parameters":[],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[Object]"}}}}},"/api/objects/v1/_describefor":{"get":{"tags":["Entity Admin API"],"operationId":"Entity_DescribeAllFor","consumes":[],"parameters":[{"name":"profileType","in":"query","required":true,"type":"string"},{"name":"profileName","in":"query","required":false,"type":"string"},{"name":"context","in":"query","required":false,"type":"string","enum":["All","Sync","Extended"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[ExtendedEntityDef]]"}}}}},"/api/objects/v1/{objectName}/_deleted":{"get":{"tags":["Entity Admin API"],"operationId":"Entity_Deleted-by-objectname","consumes":[],"parameters":[{"$ref":"#/parameters/objectName"},{"name":"fromUtc","in":"query","required":true,"type":"string","format":"date-time"},{"name":"toUtc","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[IList[Int32]]"}}}}},"/api/objects/v1/{objectName}/_describe":{"get":{"tags":["Entity Admin API"],"summary":"Lists the available fields/child-relationships and their metadata for the specified object.","operationId":"Entity_Describe-by-objectname","consumes":[],"parameters":[{"$ref":"#/parameters/objectName"},{"name":"fields","in":"query","description":"An optional comma-delimited list of field names/uniqueids","required":false,"type":"string"},{"name":"depth","in":"query","description":"The depth to which foreign key definitions should be pursued.","required":false,"type":"integer","format":"int32"},{"name":"context","in":"query","description":"","required":false,"type":"string","enum":["All","Sync","Extended"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[FieldDefinition]]"}}}}},"/api/objects/v1/{objectName}/_describefor":{"get":{"tags":["Entity Admin API"],"operationId":"Entity_DescribeFor-by-objectname","consumes":[],"parameters":[{"$ref":"#/parameters/objectName"},{"name":"profileType","in":"query","required":true,"type":"string"},{"name":"profileName","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"depth","in":"query","required":false,"type":"integer","format":"int32"},{"name":"context","in":"query","required":false,"type":"string","enum":["All","Sync","Extended"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[FieldDefinition]]"}}}}},"/api/objects/v1/{objectName}/_layout":{"get":{"tags":["Entity Admin API"],"operationId":"Entity_Layout-by-objectname","consumes":[],"parameters":[{"$ref":"#/parameters/objectName"},{"name":"graph","in":"query","required":false,"type":"string"},{"name":"view","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[FieldSection]]"}}}}},"/api/objects/v1/{objectName}/_layoutfor":{"get":{"tags":["Entity Admin API"],"operationId":"Entity_LayoutFor-by-objectname","consumes":[],"parameters":[{"$ref":"#/parameters/objectName"},{"name":"profileType","in":"query","required":true,"type":"string"},{"name":"profileName","in":"query","required":false,"type":"string"},{"name":"graph","in":"query","required":false,"type":"string"},{"name":"view","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[FieldSection]]"}}}}},"/api/objects/v1/Account":{"get":{"tags":["Account Admin API"],"summary":"Gets a list of Accounts corresponding to the given parameters.","operationId":"Account_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[Account]]"}}}},"put":{"tags":["Account Admin API"],"summary":"Adds a single or many Accounts based on the specified view model(s).","operationId":"Account_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Account Admin API"],"summary":"Gets a list of Accounts corresponding to the given data fields.","operationId":"Account_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[Account]]"}}}},"delete":{"tags":["Account Admin API"],"summary":"Deletes many Accounts by id.","operationId":"Account_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[Account]"}}}},"patch":{"tags":["Account Admin API"],"summary":"Updates many Accounts based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"Account_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[Account]"}}}}},"/api/objects/v1/Account/_export":{"get":{"tags":["Account Admin API"],"summary":"Exports the Accounts based on the same get parameters.","operationId":"Account_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["Account Admin API"],"summary":"Exports the Accounts based on the given data fields.","operationId":"Account_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/Account/_export/types":{"get":{"tags":["Account Admin API"],"summary":"Gets the Export types available for Account.","operationId":"Account_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/Account/_match":{"get":{"tags":["Account Admin API"],"operationId":"Account_MatchAccount","consumes":[],"parameters":[{"name":"companyName","in":"query","required":false,"type":"string"},{"name":"email","in":"query","required":false,"type":"string"},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"topN","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[Account]]"}}}}},"/api/objects/v1/Account/{id}":{"get":{"tags":["Account Admin API"],"summary":"Gets a single Account by id.","operationId":"Account_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[Account]"}}}},"delete":{"tags":["Account Admin API"],"summary":"Deletes a single Account by id.","operationId":"Account_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[Account]"}}}},"patch":{"tags":["Account Admin API"],"summary":"Updates a single Account based on the specified view model.","operationId":"Account_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[Account]"}}}}},"/api/objects/v1/Account/{id}/_view":{"get":{"tags":["Account Admin API"],"operationId":"Account_ViewAccount-by-id","consumes":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[Account]"}}}}},"/api/objects/v1/AccountAttachment":{"get":{"tags":["AccountAttachment Admin API"],"summary":"Gets a list of Account Attachments corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountAttachment]]"}}}},"put":{"tags":["AccountAttachment Admin API"],"summary":"Adds a single or many Account Attachments based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountAttachment Admin API"],"summary":"Gets a list of Account Attachments corresponding to the given data fields.","operationId":"RVObjectsCrud_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountAttachment]]"}}}},"delete":{"tags":["AccountAttachment Admin API"],"summary":"Deletes many Account Attachments by id.","operationId":"RVObjectsCrud_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountAttachment]"}}}},"patch":{"tags":["AccountAttachment Admin API"],"summary":"Updates many Account Attachments based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"RVObjectsCrud_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountAttachment]"}}}}},"/api/objects/v1/AccountAttachment/_export":{"get":{"tags":["AccountAttachment Admin API"],"summary":"Exports the Account Attachments based on the same get parameters.","operationId":"RVObjectsCrud_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountAttachment Admin API"],"summary":"Exports the Account Attachments based on the given data fields.","operationId":"RVObjectsCrud_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountAttachment/_export/types":{"get":{"tags":["AccountAttachment Admin API"],"summary":"Gets the Export types available for Account Attachment.","operationId":"RVObjectsCrud_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountAttachment/{id}":{"get":{"tags":["AccountAttachment Admin API"],"summary":"Gets a single Account Attachment by id.","operationId":"RVObjectsCrud_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountAttachment]"}}}},"delete":{"tags":["AccountAttachment Admin API"],"summary":"Deletes a single Account Attachment by id.","operationId":"RVObjectsCrud_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountAttachment]"}}}},"patch":{"tags":["AccountAttachment Admin API"],"summary":"Updates a single Account Attachment based on the specified view model.","operationId":"RVObjectsCrud_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountAttachment]"}}}}},"/api/objects/v1/AccountEngagement":{"get":{"tags":["AccountEngagement Admin API"],"summary":"Gets a list of Account Engagements corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountEngagement]]"}}}},"put":{"tags":["AccountEngagement Admin API"],"summary":"Adds a single or many Account Engagements based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountEngagement Admin API"],"summary":"Gets a list of Account Engagements corresponding to the given data fields.","operationId":"RVObjectsCrud_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountEngagement]]"}}}},"delete":{"tags":["AccountEngagement Admin API"],"summary":"Deletes many Account Engagements by id.","operationId":"RVObjectsCrud_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountEngagement]"}}}},"patch":{"tags":["AccountEngagement Admin API"],"summary":"Updates many Account Engagements based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"RVObjectsCrud_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountEngagement]"}}}}},"/api/objects/v1/AccountEngagement/_export":{"get":{"tags":["AccountEngagement Admin API"],"summary":"Exports the Account Engagements based on the same get parameters.","operationId":"RVObjectsCrud_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountEngagement Admin API"],"summary":"Exports the Account Engagements based on the given data fields.","operationId":"RVObjectsCrud_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountEngagement/_export/types":{"get":{"tags":["AccountEngagement Admin API"],"summary":"Gets the Export types available for Account Engagement.","operationId":"RVObjectsCrud_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountEngagement/{id}":{"get":{"tags":["AccountEngagement Admin API"],"summary":"Gets a single Account Engagement by id.","operationId":"RVObjectsCrud_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountEngagement]"}}}},"delete":{"tags":["AccountEngagement Admin API"],"summary":"Deletes a single Account Engagement by id.","operationId":"RVObjectsCrud_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountEngagement]"}}}},"patch":{"tags":["AccountEngagement Admin API"],"summary":"Updates a single Account Engagement based on the specified view model.","operationId":"RVObjectsCrud_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountEngagement]"}}}}},"/api/objects/v1/AccountFieldSegment":{"get":{"tags":["AccountFieldSegment Admin API"],"summary":"Gets a list of Account Segmentations corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountFieldSegment]]"}}}},"put":{"tags":["AccountFieldSegment Admin API"],"summary":"Adds a single or many Account Segmentations based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountFieldSegment Admin API"],"summary":"Gets a list of Account Segmentations corresponding to the given data fields.","operationId":"RVObjectsCrud_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountFieldSegment]]"}}}},"delete":{"tags":["AccountFieldSegment Admin API"],"summary":"Deletes many Account Segmentations by id.","operationId":"RVObjectsCrud_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountFieldSegment]"}}}},"patch":{"tags":["AccountFieldSegment Admin API"],"summary":"Updates many Account Segmentations based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"RVObjectsCrud_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountFieldSegment]"}}}}},"/api/objects/v1/AccountFieldSegment/_export":{"get":{"tags":["AccountFieldSegment Admin API"],"summary":"Exports the Account Segmentations based on the same get parameters.","operationId":"RVObjectsCrud_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountFieldSegment Admin API"],"summary":"Exports the Account Segmentations based on the given data fields.","operationId":"RVObjectsCrud_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountFieldSegment/_export/types":{"get":{"tags":["AccountFieldSegment Admin API"],"summary":"Gets the Export types available for Account Segmentation.","operationId":"RVObjectsCrud_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountFieldSegment/{id}":{"get":{"tags":["AccountFieldSegment Admin API"],"summary":"Gets a single Account Segmentation by id.","operationId":"RVObjectsCrud_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountFieldSegment]"}}}},"delete":{"tags":["AccountFieldSegment Admin API"],"summary":"Deletes a single Account Segmentation by id.","operationId":"RVObjectsCrud_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountFieldSegment]"}}}},"patch":{"tags":["AccountFieldSegment Admin API"],"summary":"Updates a single Account Segmentation based on the specified view model.","operationId":"RVObjectsCrud_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountFieldSegment]"}}}}},"/api/objects/v1/AccountFilterSegment":{"get":{"tags":["AccountFilterSegment Admin API"],"summary":"Gets a list of Account Segmentation (Filter) corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountFilterSegment]]"}}}},"put":{"tags":["AccountFilterSegment Admin API"],"summary":"Adds a single or many Account Segmentation (Filter) based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountFilterSegment Admin API"],"summary":"Gets a list of Account Segmentation (Filter) corresponding to the given data fields.","operationId":"RVObjectsCrud_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountFilterSegment]]"}}}},"delete":{"tags":["AccountFilterSegment Admin API"],"summary":"Deletes many Account Segmentation (Filter) by id.","operationId":"RVObjectsCrud_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountFilterSegment]"}}}},"patch":{"tags":["AccountFilterSegment Admin API"],"summary":"Updates many Account Segmentation (Filter) based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"RVObjectsCrud_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountFilterSegment]"}}}}},"/api/objects/v1/AccountFilterSegment/_export":{"get":{"tags":["AccountFilterSegment Admin API"],"summary":"Exports the Account Segmentation (Filter) based on the same get parameters.","operationId":"RVObjectsCrud_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountFilterSegment Admin API"],"summary":"Exports the Account Segmentation (Filter) based on the given data fields.","operationId":"RVObjectsCrud_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountFilterSegment/_export/types":{"get":{"tags":["AccountFilterSegment Admin API"],"summary":"Gets the Export types available for Account Segmentation (Filter).","operationId":"RVObjectsCrud_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountFilterSegment/{id}":{"get":{"tags":["AccountFilterSegment Admin API"],"summary":"Gets a single Account Segmentation (Filter) by id.","operationId":"RVObjectsCrud_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountFilterSegment]"}}}},"delete":{"tags":["AccountFilterSegment Admin API"],"summary":"Deletes a single Account Segmentation (Filter) by id.","operationId":"RVObjectsCrud_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountFilterSegment]"}}}},"patch":{"tags":["AccountFilterSegment Admin API"],"summary":"Updates a single Account Segmentation (Filter) based on the specified view model.","operationId":"RVObjectsCrud_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountFilterSegment]"}}}}},"/api/objects/v1/AccountFilterSegmentGroup":{"get":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Gets a list of Account Segmentation (Group) corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountFilterSegmentGroup]]"}}}},"put":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Adds a single or many Account Segmentation (Group) based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Gets a list of Account Segmentation (Group) corresponding to the given data fields.","operationId":"RVObjectsCrud_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountFilterSegmentGroup]]"}}}},"delete":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Deletes many Account Segmentation (Group) by id.","operationId":"RVObjectsCrud_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountFilterSegmentGroup]"}}}},"patch":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Updates many Account Segmentation (Group) based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"RVObjectsCrud_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountFilterSegmentGroup]"}}}}},"/api/objects/v1/AccountFilterSegmentGroup/_export":{"get":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Exports the Account Segmentation (Group) based on the same get parameters.","operationId":"RVObjectsCrud_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Exports the Account Segmentation (Group) based on the given data fields.","operationId":"RVObjectsCrud_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountFilterSegmentGroup/_export/types":{"get":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Gets the Export types available for Account Segmentation (Group).","operationId":"RVObjectsCrud_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountFilterSegmentGroup/{id}":{"get":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Gets a single Account Segmentation (Group) by id.","operationId":"RVObjectsCrud_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountFilterSegmentGroup]"}}}},"delete":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Deletes a single Account Segmentation (Group) by id.","operationId":"RVObjectsCrud_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountFilterSegmentGroup]"}}}},"patch":{"tags":["AccountFilterSegmentGroup Admin API"],"summary":"Updates a single Account Segmentation (Group) based on the specified view model.","operationId":"RVObjectsCrud_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountFilterSegmentGroup]"}}}}},"/api/objects/v1/AccountListing":{"get":{"tags":["AccountListing Admin API"],"summary":"Gets a list of Account Listings corresponding to the given parameters.","operationId":"AccountListing_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountListing]]"}}}},"put":{"tags":["AccountListing Admin API"],"summary":"Adds a single or many Account Listings based on the specified view model(s).","operationId":"AccountListing_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountListing Admin API"],"summary":"Gets a list of Account Listings corresponding to the given data fields.","operationId":"AccountListing_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountListing]]"}}}},"delete":{"tags":["AccountListing Admin API"],"summary":"Deletes many Account Listings by id.","operationId":"AccountListing_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountListing]"}}}},"patch":{"tags":["AccountListing Admin API"],"summary":"Updates many Account Listings based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"AccountListing_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountListing]"}}}}},"/api/objects/v1/AccountListing/_export":{"get":{"tags":["AccountListing Admin API"],"summary":"Exports the Account Listings based on the same get parameters.","operationId":"AccountListing_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountListing Admin API"],"summary":"Exports the Account Listings based on the given data fields.","operationId":"AccountListing_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountListing/_export/types":{"get":{"tags":["AccountListing Admin API"],"summary":"Gets the Export types available for Account Listing.","operationId":"AccountListing_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountListing/{id}":{"get":{"tags":["AccountListing Admin API"],"summary":"Gets a single Account Listing by id.","operationId":"AccountListing_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountListing]"}}}},"put":{"tags":["AccountListing Admin API"],"operationId":"AccountListing_Put-by-id","parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"viewModelObj","in":"body","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["AccountListing Admin API"],"summary":"Deletes a single Account Listing by id.","operationId":"AccountListing_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountListing]"}}}},"patch":{"tags":["AccountListing Admin API"],"summary":"Updates a single Account Listing based on the specified view model.","operationId":"AccountListing_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountListing]"}}}}},"/api/objects/v1/AccountListing/{id}/_view":{"get":{"tags":["AccountListing Admin API"],"operationId":"AccountListing_ViewSolutionListing-by-id","consumes":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountListing]"}}}}},"/api/objects/v1/AccountListingAttachment":{"get":{"tags":["AccountListingAttachment Admin API"],"summary":"Gets a list of Account Listing Attachments corresponding to the given parameters.","operationId":"AccountListingAttachment_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountListingAttachment]]"}}}},"put":{"tags":["AccountListingAttachment Admin API"],"summary":"Adds a single or many Account Listing Attachments based on the specified view model(s).","operationId":"AccountListingAttachment_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountListingAttachment Admin API"],"summary":"Gets a list of Account Listing Attachments corresponding to the given data fields.","operationId":"AccountListingAttachment_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountListingAttachment]]"}}}},"delete":{"tags":["AccountListingAttachment Admin API"],"summary":"Deletes many Account Listing Attachments by id.","operationId":"AccountListingAttachment_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountListingAttachment]"}}}},"patch":{"tags":["AccountListingAttachment Admin API"],"summary":"Updates many Account Listing Attachments based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"AccountListingAttachment_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountListingAttachment]"}}}}},"/api/objects/v1/AccountListingAttachment/_export":{"get":{"tags":["AccountListingAttachment Admin API"],"summary":"Exports the Account Listing Attachments based on the same get parameters.","operationId":"AccountListingAttachment_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountListingAttachment Admin API"],"summary":"Exports the Account Listing Attachments based on the given data fields.","operationId":"AccountListingAttachment_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountListingAttachment/_export/types":{"get":{"tags":["AccountListingAttachment Admin API"],"summary":"Gets the Export types available for Account Listing Attachment.","operationId":"AccountListingAttachment_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountListingAttachment/{id}":{"get":{"tags":["AccountListingAttachment Admin API"],"summary":"Gets a single Account Listing Attachment by id.","operationId":"AccountListingAttachment_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountListingAttachment]"}}}},"delete":{"tags":["AccountListingAttachment Admin API"],"summary":"Deletes a single Account Listing Attachment by id.","operationId":"AccountListingAttachment_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountListingAttachment]"}}}},"patch":{"tags":["AccountListingAttachment Admin API"],"summary":"Updates a single Account Listing Attachment based on the specified view model.","operationId":"AccountListingAttachment_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountListingAttachment]"}}}}},"/api/objects/v1/AccountListingAttachment/{id}/_view":{"get":{"tags":["AccountListingAttachment Admin API"],"operationId":"AccountListingAttachment_ViewSolutionListingAttachment-by-id","consumes":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountListingAttachment]"}}}}},"/api/objects/v1/AccountListingCategory":{"get":{"tags":["AccountListingCategory Admin API"],"summary":"Gets a list of Account Listing Categories corresponding to the given parameters.","operationId":"AccountListingCategory_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountListingCategory]]"}}}},"put":{"tags":["AccountListingCategory Admin API"],"summary":"Adds a single or many Account Listing Categories based on the specified view model(s).","operationId":"AccountListingCategory_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountListingCategory Admin API"],"summary":"Gets a list of Account Listing Categories corresponding to the given data fields.","operationId":"AccountListingCategory_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountListingCategory]]"}}}},"delete":{"tags":["AccountListingCategory Admin API"],"summary":"Deletes many Account Listing Categories by id.","operationId":"AccountListingCategory_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountListingCategory]"}}}},"patch":{"tags":["AccountListingCategory Admin API"],"summary":"Updates many Account Listing Categories based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"AccountListingCategory_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountListingCategory]"}}}}},"/api/objects/v1/AccountListingCategory/_export":{"get":{"tags":["AccountListingCategory Admin API"],"summary":"Exports the Account Listing Categories based on the same get parameters.","operationId":"AccountListingCategory_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountListingCategory Admin API"],"summary":"Exports the Account Listing Categories based on the given data fields.","operationId":"AccountListingCategory_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountListingCategory/_export/types":{"get":{"tags":["AccountListingCategory Admin API"],"summary":"Gets the Export types available for Account Listing Category.","operationId":"AccountListingCategory_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountListingCategory/{id}":{"get":{"tags":["AccountListingCategory Admin API"],"summary":"Gets a single Account Listing Category by id.","operationId":"AccountListingCategory_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountListingCategory]"}}}},"delete":{"tags":["AccountListingCategory Admin API"],"summary":"Deletes a single Account Listing Category by id.","operationId":"AccountListingCategory_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountListingCategory]"}}}},"patch":{"tags":["AccountListingCategory Admin API"],"summary":"Updates a single Account Listing Category based on the specified view model.","operationId":"AccountListingCategory_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountListingCategory]"}}}}},"/api/objects/v1/AccountListingCategory/{id}/_view":{"get":{"tags":["AccountListingCategory Admin API"],"operationId":"AccountListingCategory_ViewSolutionListingCategory-by-id","consumes":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountListingCategory]"}}}}},"/api/objects/v1/AccountSnapshot":{"get":{"tags":["AccountSnapshot Admin API"],"summary":"Gets a list of Account Snapshots corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountSnapshot]]"}}}},"put":{"tags":["AccountSnapshot Admin API"],"summary":"Adds a single or many Account Snapshots based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountSnapshot Admin API"],"summary":"Gets a list of Account Snapshots corresponding to the given data fields.","operationId":"RVObjectsCrud_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountSnapshot]]"}}}},"delete":{"tags":["AccountSnapshot Admin API"],"summary":"Deletes many Account Snapshots by id.","operationId":"RVObjectsCrud_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountSnapshot]"}}}},"patch":{"tags":["AccountSnapshot Admin API"],"summary":"Updates many Account Snapshots based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"RVObjectsCrud_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountSnapshot]"}}}}},"/api/objects/v1/AccountSnapshot/_export":{"get":{"tags":["AccountSnapshot Admin API"],"summary":"Exports the Account Snapshots based on the same get parameters.","operationId":"RVObjectsCrud_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountSnapshot Admin API"],"summary":"Exports the Account Snapshots based on the given data fields.","operationId":"RVObjectsCrud_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountSnapshot/_export/types":{"get":{"tags":["AccountSnapshot Admin API"],"summary":"Gets the Export types available for Account Snapshot.","operationId":"RVObjectsCrud_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountSnapshot/{id}":{"get":{"tags":["AccountSnapshot Admin API"],"summary":"Gets a single Account Snapshot by id.","operationId":"RVObjectsCrud_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountSnapshot]"}}}},"delete":{"tags":["AccountSnapshot Admin API"],"summary":"Deletes a single Account Snapshot by id.","operationId":"RVObjectsCrud_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountSnapshot]"}}}},"patch":{"tags":["AccountSnapshot Admin API"],"summary":"Updates a single Account Snapshot based on the specified view model.","operationId":"RVObjectsCrud_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountSnapshot]"}}}}},"/api/objects/v1/AccountTierHistory":{"get":{"tags":["AccountTierHistory Admin API"],"summary":"Gets a list of Account Tier Histories corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountTierHistory]]"}}}},"put":{"tags":["AccountTierHistory Admin API"],"summary":"Adds a single or many Account Tier Histories based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AccountTierHistory Admin API"],"summary":"Gets a list of Account Tier Histories corresponding to the given data fields.","operationId":"RVObjectsCrud_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AccountTierHistory]]"}}}},"delete":{"tags":["AccountTierHistory Admin API"],"summary":"Deletes many Account Tier Histories by id.","operationId":"RVObjectsCrud_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[AccountTierHistory]"}}}},"patch":{"tags":["AccountTierHistory Admin API"],"summary":"Updates many Account Tier Histories based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"RVObjectsCrud_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[AccountTierHistory]"}}}}},"/api/objects/v1/AccountTierHistory/_export":{"get":{"tags":["AccountTierHistory Admin API"],"summary":"Exports the Account Tier Histories based on the same get parameters.","operationId":"RVObjectsCrud_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["AccountTierHistory Admin API"],"summary":"Exports the Account Tier Histories based on the given data fields.","operationId":"RVObjectsCrud_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/AccountTierHistory/_export/types":{"get":{"tags":["AccountTierHistory Admin API"],"summary":"Gets the Export types available for Account Tier History.","operationId":"RVObjectsCrud_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/AccountTierHistory/{id}":{"get":{"tags":["AccountTierHistory Admin API"],"summary":"Gets a single Account Tier History by id.","operationId":"RVObjectsCrud_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[AccountTierHistory]"}}}},"delete":{"tags":["AccountTierHistory Admin API"],"summary":"Deletes a single Account Tier History by id.","operationId":"RVObjectsCrud_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[AccountTierHistory]"}}}},"patch":{"tags":["AccountTierHistory Admin API"],"summary":"Updates a single Account Tier History based on the specified view model.","operationId":"RVObjectsCrud_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[AccountTierHistory]"}}}}},"/api/objects/v1/ActiveTierRequirements":{"get":{"tags":["ActiveTierRequirements Admin API"],"summary":"Gets a list of Active Tier Requirements corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[ActiveTierRequirements]]"}}}},"put":{"tags":["ActiveTierRequirements Admin API"],"summary":"Adds a single or many Active Tier Requirements based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["ActiveTierRequirements Admin API"],"summary":"Gets a list of Active Tier Requirements corresponding to the given data fields.","operationId":"RVObjectsCrud_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[ActiveTierRequirements]]"}}}},"delete":{"tags":["ActiveTierRequirements Admin API"],"summary":"Deletes many Active Tier Requirements by id.","operationId":"RVObjectsCrud_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[ActiveTierRequirements]"}}}},"patch":{"tags":["ActiveTierRequirements Admin API"],"summary":"Updates many Active Tier Requirements based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"RVObjectsCrud_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[ActiveTierRequirements]"}}}}},"/api/objects/v1/ActiveTierRequirements/_export":{"get":{"tags":["ActiveTierRequirements Admin API"],"summary":"Exports the Active Tier Requirements based on the same get parameters.","operationId":"RVObjectsCrud_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["ActiveTierRequirements Admin API"],"summary":"Exports the Active Tier Requirements based on the given data fields.","operationId":"RVObjectsCrud_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/ActiveTierRequirements/_export/types":{"get":{"tags":["ActiveTierRequirements Admin API"],"summary":"Gets the Export types available for Active Tier Requirement.","operationId":"RVObjectsCrud_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/ActiveTierRequirements/{id}":{"get":{"tags":["ActiveTierRequirements Admin API"],"summary":"Gets a single Active Tier Requirement by id.","operationId":"RVObjectsCrud_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[ActiveTierRequirements]"}}}},"delete":{"tags":["ActiveTierRequirements Admin API"],"summary":"Deletes a single Active Tier Requirement by id.","operationId":"RVObjectsCrud_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[ActiveTierRequirements]"}}}},"patch":{"tags":["ActiveTierRequirements Admin API"],"summary":"Updates a single Active Tier Requirement based on the specified view model.","operationId":"RVObjectsCrud_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[ActiveTierRequirements]"}}}}},"/api/objects/v1/Administrator":{"get":{"tags":["Administrator Admin API"],"summary":"Gets a list of Administrators corresponding to the given parameters.","operationId":"Administrator_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[Administrator]]"}}}},"put":{"tags":["Administrator Admin API"],"summary":"Adds a single or many Administrators based on the specified view model(s).","operationId":"Administrator_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description":"The view model(s).","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Administrator Admin API"],"summary":"Gets a list of Administrators corresponding to the given data fields.","operationId":"Administrator_PostAsync","parameters":[{"name":"data","in":"body","description":"The search criteria for the request.","required":true,"schema":{"$ref":"#/definitions/SearchCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[Administrator]]"}}}},"delete":{"tags":["Administrator Admin API"],"summary":"Deletes many Administrators by id.","operationId":"Administrator_DeleteManyAsync","parameters":[{"name":"ids","in":"body","description":"Target ids","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ModifyManyResult[Administrator]"}}}},"patch":{"tags":["Administrator Admin API"],"summary":"Updates many Administrators based on the specified view models.","description":"The success flag will be false if any items failed to update.","operationId":"Administrator_UpdateManyAsync","parameters":[{"name":"manyViewModels","in":"body","description":"Target view models.","required":true,"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}},{"name":"returnFields","in":"query","description":"The return fields.","required":false,"type":"string"}],"responses":{"200":{"description":"The items that were successfully updated with the items that failed to update.","schema":{"$ref":"#/definitions/ModifyManyResult[Administrator]"}}}}},"/api/objects/v1/Administrator/_export":{"get":{"tags":["Administrator Admin API"],"summary":"Exports the Administrators based on the same get parameters.","operationId":"Administrator_ExportAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search query","required":false,"type":"string"},{"name":"fields","in":"query","description":"target fields to return in the results","required":false,"type":"string"},{"name":"filter","in":"query","description":"Specific restrictions by field","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list for sorting and whether or not to sort by desc or asc","required":false,"type":"string"},{"name":"fileType","in":"query","description":"The expected file type of the export file","required":false,"type":"string"},{"name":"headers","in":"query","description":"The headers.","required":false,"type":"string"}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}},"post":{"tags":["Administrator Admin API"],"summary":"Exports the Administrators based on the given data fields.","operationId":"Administrator_ExportPostAsync","parameters":[{"name":"data","in":"body","description":"The export criteria for the request.","required":true,"schema":{"$ref":"#/definitions/ExportCriteria"}}],"responses":{"200":{"description":"The response context that writes the response stream for the export","schema":{"type":"object"}}}}},"/api/objects/v1/Administrator/_export/types":{"get":{"tags":["Administrator Admin API"],"summary":"Gets the Export types available for Administrator.","operationId":"Administrator_ExportTypes","consumes":[],"parameters":[],"responses":{"200":{"description":"List of export types available.","schema":{"$ref":"#/definitions/ApiResult[IEnumerable[String]]"}}}}},"/api/objects/v1/administrator/_getLogins":{"get":{"tags":["Administrator Admin API"],"operationId":"Administrator_GetLogins","consumes":[],"parameters":[],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[Login[]]"}}}}},"/api/objects/v1/Administrator/{id}":{"get":{"tags":["Administrator Admin API"],"summary":"Gets a single Administrator by id.","operationId":"Administrator_GetAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target Id","required":true,"type":"integer","format":"int32"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult[Administrator]"}}}},"delete":{"tags":["Administrator Admin API"],"summary":"Deletes a single Administrator by id.","operationId":"Administrator_DeleteAsync-by-id","consumes":[],"parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Returns the dictionary representation of the entity, but with only the Id key/value that was deleted","schema":{"$ref":"#/definitions/ApiResult[Administrator]"}}}},"patch":{"tags":["Administrator Admin API"],"summary":"Updates a single Administrator based on the specified view model.","operationId":"Administrator_UpdateAsync-by-id","parameters":[{"name":"id","in":"path","description":"Target id","required":true,"type":"integer","format":"int32"},{"name":"viewModel","in":"body","description":"Dictionary values for the entity. Only the keys in the dictionary are used to update the entity.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"returnFields","in":"query","description":"Any extra fields to return, in addition to those that are already returned.","required":false,"type":"string"}],"responses":{"200":{"description":"The updated record.","schema":{"$ref":"#/definitions/ApiResult[Administrator]"}}}}},"/api/objects/v1/AdministratorRole":{"get":{"tags":["AdministratorRole Admin API"],"summary":"Gets a list of Administrator Roles corresponding to the given parameters.","operationId":"RVObjectsCrud_GetAsync","consumes":[],"parameters":[{"name":"q","in":"query","description":"Search text","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve","required":false,"type":"string"},{"name":"filter","in":"query","description":"Optional where clause (eg, Field1 = Val1 and Field2 &gt; Val2)","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Comma separated list of fields to sort by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of results to skip for pagination.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of results to take for pagination.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The array dictionary of the entity","schema":{"$ref":"#/definitions/ApiResult[EntitySearchResult[AdministratorRole]]"}}}},"put":{"tags":["AdministratorRole Admin API"],"summary":"Adds a single or many Administrator Roles based on the specified view model(s).","operationId":"RVObjectsCrud_AddAsync","parameters":[{"name":"viewModelObj","in":"body","description
[...]
